.float-action, #focus-hint {
    position: absolute;
    background: #4CAF50;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.highlight {
    border: 2px solid #FF9800 !important;
}

#focus-hint {
    position: fixed !important;
    width: 300px !important;
    left: 0 !important;
    right: 0 !important;
    top: 16px !important;
    margin: auto !important;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3) !important;
}

.row .col {
    float: left;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.subject {
    display: block;
    position: initial;
    margin: 8px;
    width: 36px;
    padding: 8px 12px;
}

.refresh-page {
    right: 0;
    top: 0;
}
