body.css-modify {
    min-width: 0px !important;
}

.css-modify .container {
    margin: 0 !important;
}

/* should be full height when no headers */
.css-modify-fullscreen #pad-view-inner, .css-modify-fullscreen #doc-view {
    height: 100% !important;
}