<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>12603.1.30.0.34</string>
	<key>CFBundleDisplayName</key>
	<string>MoodleHelper</string>
	<key>CFBundleIdentifier</key>
	<string>com.fzyzcjy.moodlehelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>libs/jquery.min.js</string>
				<string>libs/mousetrap.js</string>
				<string>libs/tmpl.js</string>
				<string>libs/quicksettings.js</string>
				<string>utils/helper.js</string>
				<string>moodle/main.js</string>
				<string>registry/main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>moodle/style.css</string>
			<string>registry/style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://elearning.cuhk.edu.cn/*</string>
			<string>https://116.31.95.2:81/*</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>elearning.cuhk.edu.cn</string>
				<string>116.31.95.2</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
